@import "tailwindcss";

body { font-family: system-ui; }
@layer utilities {
  /* Анімація для повільного плаваючого руху */
  .animate-blob {
    animation: blob 10s infinite;
  }
  /* Затримки для різних елементів, щоб вони рухались несинхронно */
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      /* Рух вправо-вверх і збільшення */
      transform: translate(50px, -50px) scale(1.2);
    }
    66% {
      /* Рух вліво-вниз і зменшення */
      transform: translate(-30px, 30px) scale(0.8);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}